/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);



.name {
	font-size:40px;
	font-family: 'Ubuntu Mono', monospace;
	margin-top:70px;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.description {
	text-align:right;
	margin-right:220px;
	font-family: 'Josefin Slab', serif;
	font-size:19px;
}


body {
	background: black;
	font-size:22px;
	line-height: 32px;
	font-family: 'Ubuntu Mono', monospace;
	color: white ;
	word-wrap:break-word !important;
	}


.glow {
	font-size:30px;
	line-height: 32px;
	font-family: 'Ubuntu Mono', monospace;
	color:white;
	text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F2E205, 0 0 40px #F2E205, 0 0 50px #F2E205, 0 0 60px #F2E205, 0 0 70px #F2E205;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #DF50F2, 0 0 40px #DF50F2, 0 0 50px #DF50F2, 0 0 60px #DF50F2, 0 0 70px #DF50F2, 0 0 80px #F26BC3;
  }
} ;

}

h1 {
	font-size: 22px;
	text-align: center;

	color: #FFF;

}

h3 {
	font-size: 30px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	text-align:left;
	font-size:22px;
	font-family: 'Special Elite', cursive;
	margin-left:200px;
}
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: black;
	font-size:22px;
	font-family: 'Ubuntu Mono', monospace;

}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: black;
	}

nav a {
	display:block;
	padding:0 10px;	
	color: #DF50F2;
	font-size:22px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #F2E205; 
	color:#1D1D1D;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:330px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:330px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
.description {
	text-align:left;
	margin-left:200px;
}
.cont {display:flex;
margin-left: 200px;}
.title {
	size:23px;
	color:#F2E205;
	font-family: 'Special Elite', cursive;
	text-align: left;
	margin-left:200px;
	display:flex;
}
.img1 {
	width:auto;
	height:400px;
	display:flex;
}

.img2 {
width:auto;
height:400px;

}
.img3 { width:auto;
height:600px; 
margin-left:600px;

}


.img4 {width:500px;
height:auto;}

.img5 {width:900px;
height:auto;}
.img6 {width: 400px;
height: auto;}

/* Pure CSS Loading Clock Using a Single Div */
.loading-clock {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-color: #F2E205;
  border-radius: 100%;
  position: relative;
}
.loading-clock:before,
.loading-clock:after {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  left: 19px; /* half width of clock - half width of hand */
  background: #F2E205;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
/* Animations */
@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Big hand */
.loading-clock:before {
  top: 5px;
  height: 20px; /* half the width/height of the clock */
  transform-origin: 1px 15px;
  animation: rotate .35s infinite linear;
}
/* Little hand */
.loading-clock:after {
  top: 11px;
  height: 14px; /* top + height for little hand must = top + height for big hand */
  transform-origin: 1px 9px;
  animation: rotate 4.2s infinite linear; /* time should be big-hand time * 12 */
}
