/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
body {
  background-color: black;
  color: white;
  margin: 0px;
  margin-bottom:100px;

}

.ref{
	font-size:10px;
}
.active {
  background-color:#7C8C03;
}
.paragraph {
  width:1000px;
}

.i {width:50%;
height:auto;}

*{margin: 0; padding: 0;}
body{background-color: black;}

.container1
{display:flex;
  padding-left:160px;
  width: 100%;
  height: 100%;
}
.trans
{
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


}
.top
{
  display: flex;
  width: 100px;
  height: 100px;
 
}


.top ul
{
  list-style: none;
  width: 70%;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}
.top ul li
{
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  overflow: hidden;
}


.top ul li:hover::before
{
  opacity: 0;
  background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.lightbox
{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
}
.lightbox img
{
  max-width: 90%;
  max-height: 80%;
  position: relative;
  top: -100%;
  /* Transition */
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.lightbox:target
{
  outline: none;
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.photo1{ width:900px;
height:auto; }

.photo2{ width:auto;
height:900px; }
.name {
	font-size:40px;
	font-family: 'Ubuntu Mono', monospace;
	margin-top:70px;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.description {
	text-align:right;
	margin-right:220px;
	font-family: 'Josefin Slab', serif;
	font-size:19px;
}
.p5  {padding-left:330px;}


body {
	background: black;
	font-size:22px;
	line-height: 32px;
	font-family: 'Ubuntu Mono', monospace;
	color: white ;
	word-wrap:break-word !important;
	}


.glow {
	font-size:30px;
	line-height: 32px;
	font-family: 'Ubuntu Mono', monospace;
	color:white;
	text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F2E205, 0 0 40px #F2E205, 0 0 50px #F2E205, 0 0 60px #F2E205, 0 0 70px #F2E205;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #DF50F2, 0 0 40px #DF50F2, 0 0 50px #DF50F2, 0 0 60px #DF50F2, 0 0 70px #DF50F2, 0 0 80px #F26BC3;
  }
} ;

}

h1 {
	font-size: 22px;
	text-align: center;

	color: #FFF;

}

h3 {
	font-size: 30px;
	text-align: center;
	color: #FFF;
}

h3 a {
	color: #FFF;
}

a {
	color: #FFF;
}

h1 {
	text-align:left;
	font-size:22px;
	font-family: 'Special Elite', cursive;
	margin-left:200px;
}
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: black;
	font-size:22px;
	font-family: 'Ubuntu Mono', monospace;

}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: black;
	}

nav a {
	display:block;
	padding:0 10px;	
	color: #DF50F2;
	font-size:22px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #F2E205; 
	color:#1D1D1D;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:330px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:330px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
.description {
	text-align:left;
	margin-left:200px;
}
.cont {display:flex;
margin-left: 200px;}
.title {
	size:23px;
	color:#F2E205;
	font-family: 'Special Elite', cursive;
	text-align: left;
	margin-left:200px;
	display:flex;
}
.img1 {
	width:auto;
	height:400px;
	display:flex;
}

.img2 {
width:auto;
height:400px;

}
.img3 { width:auto;
height:600px; 
margin-left:600px;

}


.img4 {width:500px;
height:auto;}

.img5 {width:900px;
height:auto;}
.img6 {width: 400px;
height: auto;}

/* Pure CSS Loading Clock Using a Single Div */
.loading-clock {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-color: #F2E205;
  border-radius: 100%;
  position: relative;
}
.loading-clock:before,
.loading-clock:after {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  left: 19px; /* half width of clock - half width of hand */
  background: #F2E205;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
/* Animations */
@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Big hand */
.loading-clock:before {
  top: 5px;
  height: 20px; /* half the width/height of the clock */
  transform-origin: 1px 15px;
  animation: rotate .35s infinite linear;
}
/* Little hand */
.loading-clock:after {
  top: 11px;
  height: 14px; /* top + height for little hand must = top + height for big hand */
  transform-origin: 1px 9px;
  animation: rotate 4.2s infinite linear; /* time should be big-hand time * 12 */
}
